$xsWidth: 45px;
$smWidth: 100px;
$smHeight: $smWidth/1.73;
$mdWidth: 140px;
$lgWidth: 175px;
$xlWidth: 260px;

@mixin hex($width, $color: #CD5C5C) {
  $height: $width/1.73;
  transition: width 1000ms, height 1000ms, margin 1000ms, background-color 1000ms;
  position: relative;
  width: $width;
  height: $height;
  background: $color;
  margin: $height/3 auto $height/3 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
  }

  &::before {
    bottom: 100%;
    border-bottom: $height/2 solid $color;
    transition: bottom 1000ms, border 1000ms;
  }

  &::after {
    top: 100%;
    border-top: $height/2 solid $color;
    transition: top 1000ms, border 1000ms;
  }
}

.hex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .hex-row {
    display:flex;
    flex-direction: row;
    align-items: center;

    :first-child {
      margin-right: 10px;
    }

    &:first-child {
      align-items: baseline;
      margin-top: 10px;
    }

    &:first-child,
    &:last-child {
      &:not(.row-lg) {
        margin-left: 33px;
      }
    }

    &:last-child {
      align-items: flex-start;

      .hex-sm {
        margin: $smHeight/2 auto $smHeight/2 0;
      }
    }
  }

}

.hex-xs {
  @include hex($xsWidth, #731ACC)
}

.hex-sm {
  @include hex($smWidth, #6E4299)
}

.hex-md {
  @include hex($mdWidth, #0711FF)
}

.hex-lg {
  @include hex($lgWidth, #FFBC1D)
}

.hex-xl {
  @include hex($xlWidth, #CC851A)
}